@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #ffb2ba, #ffe071, #07c8a167);
}

main {
    background-color: #fff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
}

h1 {
    color: #07c8a3;
    text-align: center;
    text-shadow: 3px 5px 15px rgba(0, 0, 0, 0.192);
}

h2 {
    color: #09836a;
}

p {
    text-align: justify;
}